# Ignora apenas arquivos específicos dentro de recipes/
recipes/carreteiro.html
recipes/lasagna.html

# Arquivos temporários do Node.js
node_modules/
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração local
.env
.env.local