/*Aqui eu estilizo o site com CSS*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.topo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffeccc;
  padding: 20px; /*tamanho da janela do header */
  border-bottom: 2px solid #ccc; /*borda do header */
  border-top: 2px solid #ccc; /*borda do header */
  font-size: 36x;
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #bb6e09;
}

.busca {
  display: flex;
  align-items: center;
}

.busca input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  outline: none;
  box-shadow: 0 0 5px #dbb470;
}

.busca button {
  padding: 8px 11px;
  font-size: 14px;
  background-color: #bb6e09;
  color: white;
  border: 1px solid #bb6e09;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
} 
.titulo, .titulomenor {
    color: #bb6e09;
    text-align: center;
    font-family: Fonte-que-não-existe, Helvetica, sans-serif;
}
.titulo {
    font-size: 36px;
    font-weight: bold;
    margin-top: 20px;
}
.titulomenor {
    font-size: 24px;
}
#pequeno {
    font-size: 12px;
    color: #666;
    text-align: left;
    margin-top: 20px;
}
.recipe-image {
  max-width: 600px;
  width: 300px;
  height: 200px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-receitas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px; 
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .grid-receitas {
    grid-template-columns: 1fr;
  }
}

/* .galeria {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
} */

.card {
  text-align: center;
  background-color: #fff6e6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.card-img:hover {
  transform: scale(1.05);
}

.card-img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}